<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prisma | {{username}} </title>
    <link rel="stylesheet" href="/hbs.css">
    <link rel="icon" href="/assets/eyedropperLogoPink.png" type="image" sizes="16x16">
    <script src="/jscolor.js"></script>
    <script src="/jquery.js"></script>
    <script src="/edit_palette.js"></script>
    <script src="/moment.js"></script>
</head>
<body>
    <div class="navbar" id="#navbar_id">
        <ul class="nav_list" id="nav_list_id">
            <a href="/" class="nav_settings"> Home </a>
            <p class="nav_settings" id="nav_wall"> | </p>
            <a href="/profile" class="nav_settings"> {{firstname}}'s </a>
            <p class="nav_settings" id="nav_wall"> | </p>
            <a href="/palettes" class="nav_settings" style="font-weight: bold;"> Palettes </a>
             <form class="nav_search_form">
                <a href="/search" class="search_submit_button"> Search </a>
                <input type="text" class="search_text_input">
            </form>
        </ul>
    </div>
    <div class="palette_details_container">
        <p class="palette_name_label"> Palette Name: </p>
        <div class="extra_buttons_filed">
            <input type="text" class="palette_name_field" value={{paletteName}}>
            <div class="palette_generate_button" id="palette_done_button">Save</div>
            <a href="/palettes" class="palette_generate_button" id="palette_cancel_button"> Cancel </div>
        </div>
    </div>
    <div class="color_palette_container">
        <div class="indiv_color_container">
            <button class="jscolor
    {valueElement:'valueInput4', styleElement:'styleInput4', hash:true, value:'{{color1}}'}" id="styleInput4"> </button>
            <input class="hex_numbers" id="valueInput4">
            
        </div>
        <div class="indiv_color_container">
            <button class="jscolor
    {valueElement:'valueInput3', styleElement:'styleInput3', hash:true, value:'{{color2}}'}" id="styleInput3"> </button>
            <input class="hex_numbers" id="valueInput3">
            
        </div>
        <div class="indiv_color_container">
            <button class="jscolor
    {valueElement:'valueInput2', styleElement:'styleInput2', hash:true, value:'{{color3}}'}" id="styleInput2"> </button>
            <input class="hex_numbers" id="valueInput2">
        </div>
        <div class="indiv_color_container">
            <button class="jscolor
    {valueElement:'valueInput1', styleElement:'styleInput1', hash:true, value:'{{color4}}'}" id="styleInput1"> </button>
            <input class="hex_numbers" id="valueInput1">
        </div>
        <div class="indiv_color_container">
            <button class="jscolor
    {valueElement:'valueInput', styleElement:'styleInput', hash:true, value:'{{color5}}'}" id="styleInput"> </button>  
            <input class="hex_numbers" id="valueInput">
        </div>
    </div>
    
    <script src="/color.js"></script>
</body>
</html>