<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prisma | {{username}}</title>
    <link rel="icon" href="/assets/eyedropperLogoPink.png" type="image" sizes="16x16">  
    <link rel="stylesheet" href="/hbs.css">
    <script src="/jquery.js"></script>
    <script src="/feed.js"></script>
</head>
<body>
    <div class="navbar" id="#navbar_id">
        <ul class="nav_list" id="nav_list_id">
            <a href="/" class="nav_settings" id="home_prisma" style="font-weight: bold;"> Prisma </a>
            <p class="nav_settings" id="nav_wall"> | </p>
            <a href="/palettes" class="nav_settings"> Palettes </a>
            <p class="nav_settings" id="nav_wall"> | </p>
            <a href="/profile" class="nav_settings"> {{firstname}}'s </a>
            <form class="nav_search_form">
                <div class="search_submit_button"> Search </div>
                <input type="text" class="search_text_input" required>
            </form>
        </ul>
    </div>
    <img src="/assets/overlay_feed.png" class="overlay_feed">
    <div class="all_palettes_container">
            {{#each feedPalettes}}
            <div class="feed_indiv_palette">
                <div class="header_information">
                    <p class="palette_name">{{name}}</p>
                    <div class="palette_icons" id="icons_container">
                        {{#if liked}}
                        <img src="/assets/hearPink.png" class="like_palette" id="like_palette_id" data-liked="liked" data-id="{{id}}">
                        {{else}}
                        <img src="/assets/heartGray.png" class="like_palette" id="like_palette_id" data-liked="unliked" data-id="{{id}}">
                        {{/if}}
                    </div>
                </div>
                <div class="palette_color_container">
                    <div class="left_color_container_feed" id="color_1" style="background-color:{{color1}};">
                        <span class="color_hex" id="color_1_hex">{{color1}}</span>
                        <img src="/assets/copy-pngrepo-com.png" class="copy_icon" id="copy_icon_id">
                    </div>
                    <div class="left_color_container_feed" id="color_2" style="background-color:{{color2}};">
                        <span class="color_hex" id="color_2_hex">{{color2}}</span>
                        <img src="/assets/copy-pngrepo-com.png" class="copy_icon" id="copy_icon_id">
                    </div>
                    <div class="left_color_container_feed" id="color_3" style="background-color:{{color3}};">
                        <span class="color_hex" id="color_3_hex">{{color3}}</span>
                        <img src="/assets/copy-pngrepo-com.png" class="copy_icon" id="copy_icon_id">
                    </div>
                    <div class="left_color_container_feed" id="color_4" style="background-color:{{color4}};">
                        <span class="color_hex" id="color_4_hex">{{color4}}</span>
                        <img src="/assets/copy-pngrepo-com.png" class="copy_icon" id="copy_icon_id">
                    </div>
                    <div class="left_color_container_feed" id="color_5" style="background-color:{{color5}};">
                        <span class="color_hex" id="color_5_hex">{{color5}}</span>
                        <img src="/assets/copy-pngrepo-com.png" class="copy_icon" id="copy_icon_id">
                    </div>
                </div>
                <div class="other_information">
                    <p class="created_by">by {{firstname}} {{lastname}}</p>
                    <p class="date_created"> {{dateCreated}}</p>
                </div>
            </div>
            {{/each}}
    
            {{!-- <div class="feed_indiv_palette">
                <div class="header_information">
                    <p class="palette_name">Rainbow</p>
                    <div class="palette_icons" id="icons_container">
                        <img src="./assets/heartGray.png" class="like_palette" id="like_palette_id">
                    </div>
                </div>
                <div class="palette_color_container">
                    <div class="left_color_container_feed" id="color_1"></div>
                    <div class="left_color_container_feed" id="color_1"></div>
                    <div class="left_color_container_feed" id="color_1"></div>
                    <div class="left_color_container_feed" id="color_1"></div>
                    <div class="left_color_container_feed" id="color_1"></div>
                </div>
                <div class="other_information">
                    <p class="created_by">by Rebecalyn Lao</p>
                    <p class="date_created"> Aug 01, 2019</p>
                </div>
            </div> --}}
    </div>
</body>
</html>