<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prisma | {{username}}'s</title>
    <link rel="stylesheet" href="/hbs.css">
    <link rel="icon" href="assets/eyedropperLogoPink.png" type="image" sizes="16x16">
    <script src="/anime.min.js"></script>
    <script src="/jquery.js"></script>
    <script src="/myprofile.js"></script>
</head>
<body>
    <div class="navbar" id="#navbar_id">
        <ul class="nav_list" id="nav_list_id">
            <a href="/" class="nav_settings"> Prisma </a>
            <p class="nav_settings" id="nav_wall"> | </p>
            <a href="/palettes" class="nav_settings"> Palettes </a>
            <p class="nav_settings" id="nav_wall"> | </p>
            <a href="/profile" class="nav_settings" style="font-weight: bold;"> {{firstname}}'s </a>
            <form class="nav_search_form">
                <div class="search_submit_button"> Search </div>
                <input type="text" class="search_text_input" required>
            </form>
        </ul>
    </div>
    
    
    {{#unless palettes}}
        <img src="/assets/overlay_like.png" class="overlay_profile">
    <div class="profile_header_container">
        <div class="profile_name_container">
            <p class="profile_name" id="profile_firstname"> {{firstname}} {{lastname}} </p>
            <p class="profile_name" id="profile_username"> @{{username}} </p>
        </div>
        
        <div class="profile_information_container">
            <div class="profile_details_container" id="followers_container">
                <p class="profile_details_num"> {{followerCount}} </p>
                <p class="profile_details_word">followers</p>
            </div>
            <p class="profile_details_divider">|</p>
            <div class="profile_details_container"id="following_container">
                <p class="profile_details_num" > {{followingCount}} </p>
                <p class="profile_details_word">following</p>
            </div>
            <p class="profile_details_divider">|</p>
            <div class="profile_details_container">
                <p class="profile_details_num" id="liked_count"> {{likedCount}} </p>
                <p class="profile_details_word">liked palettes</p>
            </div>
        </div>
            <img src="/assets/logout.png" class="logout_button_container"> 
        </div>
        <div class="profile_body_container">
            <div class="profile_body">
                <p class="profile_body_header">Liked Palettes: </p>
            </div>
        </div>
    {{else}}
    <div class="profile_header_container">
        <div class="profile_name_container">
            <p class="profile_name" id="profile_firstname"> {{firstname}} {{lastname}} </p>
            <p class="profile_name" id="profile_username"> @{{username}} </p>
        </div>
        
        <div class="profile_information_container">
            <div class="profile_details_container" id="followers_container">
                <p class="profile_details_num"> {{followerCount}} </p>
                <p class="profile_details_word">followers</p>
            </div>
            <p class="profile_details_divider">|</p>
            <div class="profile_details_container"id="following_container">
                <p class="profile_details_num" > {{followingCount}} </p>
                <p class="profile_details_word">following</p>
            </div>
            <p class="profile_details_divider">|</p>
            <div class="profile_details_container">
                <p class="profile_details_num" id="liked_count"> {{likedCount}} </p>
                <p class="profile_details_word">liked palettes</p>
            </div>
        </div>
            <img src="/assets/logout.png" class="logout_button_container"> 
        </div>
        <div class="profile_body_container">
            <div class="profile_body">
                <p class="profile_body_header">Liked Palettes: </p>
                <div class="profile_palettes_container">
                {{#each palettes}}
                <div class="profile_indiv_palette">
                    <div class="header_information">
                        <p class="palette_name">{{name}}</p>
                        <div class="palette_icons">
                            <img class="like_palette_color" src="/assets/hearPink.png" id="like_palette_id" data-liked="liked" data-id={{id}}>
                        </div>
                    </div>
                    <div class="palette_color_container">
                        <div class="left_color_container_feed" id="color_1" style="background-color:{{color1}};">
                            <span class="color_hex" id="color_1_hex">{{color1}}</span>
                            <img src="/assets/copy-pngrepo-com.png" class="copy_icon" id="copy_icon_id">
                        </div>
                        <div class="left_color_container_feed" id="color_2" style="background-color:{{color2}};">
                            <span class="color_hex" id="color_2_hex">{{color2}}</span>
                            <img src="/assets/copy-pngrepo-com.png" class="copy_icon" id="copy_icon_id">
                        </div>
                        <div class="left_color_container_feed" id="color_3" style="background-color:{{color3}};">
                            <span class="color_hex" id="color_3_hex">{{color3}}</span>
                            <img src="/assets/copy-pngrepo-com.png" class="copy_icon" id="copy_icon_id">
                        </div>
                        <div class="left_color_container_feed" id="color_4" style="background-color:{{color4}};">
                            <span class="color_hex" id="color_4_hex">{{color4}}</span>
                            <img src="/assets/copy-pngrepo-com.png" class="copy_icon" id="copy_icon_id">
                        </div>
                        <div class="left_color_container_feed" id="color_5" style="background-color:{{color5}};">
                            <span class="color_hex" id="color_5_hex">{{color5}}</span>
                            <img src="/assets/copy-pngrepo-com.png" class="copy_icon" id="copy_icon_id">
                        </div>
                    </div>
                    <div class="other_information">
                        <p class="created_by">by {{firstname}} {{lastname}}</p>
                        <p class="date_created"> {{dateCreated}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
            </div>
        </div>
    {{/unless}}
    <!--Modal Content Following -->
    <div id="myModal_followers" class="modal">
        <div class="modal-content-followers">
        <span class="close" id="close">&times;</span>
        <p class="modal_header"> Followers</p>
        <div class="list_followers_container">
            {{#each followers}}
            <div class="list_indiv_follower">
                <p class="follower_name"> {{firstname}} {{lastname}} </p>
                <div class="folow_button_profile">
                    <p class="follower_username"> @{{username}}</p>
                    {{#if following}}
                        <div class="profile_unfollow_user_button" id="follow_button" data-following="following" data-id="{{id}}"><span class="follow_user_button_text" id="follow_span">Following</span></div>
                    {{else}}
                        <div class="profile_follow_user_button" id="follow_button" data-following="notfollowing" data-id="{{id}}"><span class="follow_user_button_text" id="follow_span">Follow</span></div>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
        </div>  
    </div>

    <div id="myModal_following" class="modal">
        <div class="modal-content-followers">
        <span class="close" id="close_following">&times;</span>
        <p class="modal_header"> Following</p>
        <div class="list_followers_container">
            {{#each followings}}
            <div class="list_indiv_follower">
                <p class="follower_name"> {{firstname}} {{lastname}} </p>
                <div class="folow_button_profile">
                    <p class="follower_username"> @{{username}}</p>
                    <div class="profile_unfollow_user_button" id="follow_button" data-following="following" data-id="{{id}}"><span class="follow_user_button_text" id="follow_span">Following</span></div>
                </div>
            </div>
            {{/each}}
        </div>
        </div>  
    </div>
</body>
</html>