<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prisma | {{username}}</title>  
    <link rel="stylesheet" href="/hbs.css">
    <link rel="icon" href="/assets/eyedropperLogoPink.png" type="image" sizes="16x16">
    <script src="/jquery.js"></script>
    <script src="/palettes.js"></script>
</head>
<body>
    <div class="navbar" id="#navbar_id">
        <ul class="nav_list" id="nav_list_id">
            <a href="/" class="nav_settings"> Prisma </a>
            <p class="nav_settings" id="nav_wall"> | </p>
            <a href="/profile" class="nav_settings"> {{firstname}}'s </a>
            <p class="nav_settings" id="nav_wall"> | </p>
            <a href="/palettes" class="nav_settings" style="font-weight: bold;"> Palettes </a>
            <form class="nav_search_form">
                <div class="search_submit_button"> Search </div>
                <input type="text" class="search_text_input" required>
            </form>
        </ul>
    </div>
    <a href="/palettes/add" class="add_palette_button add_button"> + Add Palette </a>
    <div class="all_mypalettes_container" id="all_palettes">
        {{#each palette}}
        <div class="indiv_palette" data-palette-id="{{_id}}" data-palette-name="{{name}}">
                <div class="header_information">
                    <p class="palette_name">{{name}}</p>
                    <div class="palette_icons" id="icons_container">
                        <img src="/assets/pencilGray.png" class="edit_button" id="edit_button_id">
                        <img src="/assets/deleteGray.png" class="delete_button" id="delete_button_id">
                    </div>
                </div>
                <div class="palette_color_container">
                    <div class="left_color_container" id="color_1" style="background-color:{{color1}};">
                        <span class="color_hex" id="color_1_hex"> {{color1}} <br>click to copy </span>
                    </div>
                    <div class="left_color_container" id="color_2" style="background-color:{{color2}};">
                        <span class="color_hex" id="color_2_hex"> {{color2}} <br>click to copy </span>
                    </div>
                    <div class="left_color_container" id="color_3" style="background-color:{{color3}};">
                        <span class="color_hex" id="color_3_hex"> {{color3}} <br>click to copy </span>
                    </div>
                    <div class="left_color_container" id="color_4" style="background-color:{{color4}};">
                        <span class="color_hex" id="color_4_hex"> {{color4}} <br>click to copy </span>
                    </div>
                    <div class="left_color_container" id="color_5" style="background-color:{{color5}};">
                        <span class="color_hex" id="color_5_hex"> {{color5}} <br>click to copy</span>
                    </div>
                </div>
                <div class="other_information">
                    <p class="date_created"> {{dateCreated}}</p>
                </div>
        </div>
        {{/each}}
    </div>
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <p class="modal_details">Are you sure you want to delete <span class="to-be-deleted">palette</span>?</p>
        <div class="modal_inside_container">
            <div class="delete_confirmation_button" id="confirm_button">Confirm </div>
            <div class="delete_confirmation_button" id="cancel_button"> Cancel</div>
        </div>
    </div>

</div>
</body>
</html>