<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prisma | Search</title>
    <link rel="stylesheet" href="/hbs.css">
    <link rel="icon" href="/assets/eyedropperLogoPink.png" type="image" sizes="16x16">
    <script src="/anime.min.js"></script>
    <script src="/jquery.js"></script>
    <script src="/search.js"></script>
</head>
<body>
    <div class="navbar" id="#navbar_id">
        <ul class="nav_list" id="nav_list_id">
            <a href="/" class="nav_settings"> Prisma </a>
            <p class="nav_settings" id="nav_wall"> | </p>
            <a href="/profile" class="nav_settings"> {{firstname}}'s </a>
            <p class="nav_settings" id="nav_wall"> | </p>
            <a href="/palettes" class="nav_settings"> Palettes </a>
            <form class="nav_search_form">
                <div class="search_submit_button"> Search </div>
                <input type="text" class="search_text_input" value="{{query}}" required>
            </form>
        </ul>
    </div>
    <div class="search_min_navbar">
        <ul class="search_list_navbar">
            <p class="search_nav_setting bold_util" id="search_nav_palette"> Palettes </p>
            <p class="search_nav_setting"> | </p>
            <p class="search_nav_setting" id="search_nav_user"> Users </p>
        </ul>
    </div>
    <div class="search_results_container" id="results_container">
        <div class="search_results_header" id="palette_results_header"> Found {{palettesCount}} results for "{{query}}" Palettes</div>
        <div class="search_results_header" id="user_results_header" style="display:none;"> Found {{usersCount}} results for "{{query}}" Users</div>
        <div class="search_results_user_container">
            {{#each users}}
            <div class="search_user_results" style="display:none;">
                <div class="user_information">
                    <p class="search_user_firstname">{{firstname}} {{lastname}}</p>
                    <p class="search_user_username">@{{username}}</p>
                </div>
                {{#unless your_account}}
                    {{#if following}}
                        <div class="unfollow_user_button" id="follow_button" data-following="following" data-id="{{id}}"><span class="follow_user_button_text" id="follow_span">Following</span></div>
                    {{else}}
                        <div class="follow_user_button" id="follow_button" data-following="notfollowing" data-id="{{id}}"><span class="follow_user_button_text" id="follow_span">Follow</span></div>
                    {{/if}}
                {{/unless}}
            </div>
            {{/each}}

            {{#each palettes}}
            <div class="search_indiv_palette">
                <div class="header_information">
                    <p class="palette_name">{{name}}</p>
                    <div class="palette_icons" id="icons_container">
                        {{#if liked}}
                        <img src="/assets/hearPink.png" class="like_palette" id="like_palette_id" data-liked="liked" data-id="{{id}}">
                        {{else}}
                        <img src="/assets/heartGray.png" class="like_palette" id="like_palette_id" data-liked="unliked" data-id="{{id}}">
                        {{/if}}
                    </div>
                </div>
                <div class="palette_color_container">
                    <div class="search_color_container" id="color_1" style="background-color:{{color1}};"></div>
                    <div class="search_color_container" id="color_1" style="background-color:{{color2}};"></div>
                    <div class="search_color_container" id="color_1" style="background-color:{{color3}};"></div>
                    <div class="search_color_container" id="color_1" style="background-color:{{color4}};"></div>
                    <div class="search_color_container" id="color_1" style="background-color:{{color5}};"></div>
                </div>
                <div class="other_information">
                    <p class="created_by">by {{firstname}} {{lastname}}</p>
                    <p class="date_created"> {{dateCreated}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</body>
</html>